/*
Setup
-----
*/
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

/*
Details tag
-----------
*/
details summary::-webkit-details-marker {
    display: none;
}

details summary {
    list-style: none;
    cursor: pointer;
    transition: margin 150ms ease-out;
}

details summary:hover {
    margin-top: 10px;
    margin-bottom: 10px;
}

details[open] summary {
    margin-top: 10px;
    margin-bottom: 17px;
}

/*
General
-------
*/
:root {
    --black: #0d090a;
    --white: #eaeaea;
    --primary: #912f40;
    --secondary: #e7ebc5;
}

body {
    background: var(--black);
    margin: 0;
    line-height: inherit;
    color: var(--white);
}

* {
    font-family: 'Cormorant', serif;
}

button {
    background-color: var(--black);
    border: 2px groove var(--primary);
    color: var(--secondary);
    cursor: pointer;
    font-size: 0.8rem;
    transition: transform .3s ease-out;
}

button:hover {
    background-color: var(--secondary);
    border: 2px groove var(--primary);
    color: var(--black);
    transform: translate(0, -3px);
}

.side-by-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*
Top bar
-------
*/
#top-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid var(--white);
    padding-bottom: 1rem;
    background-color: black;
    transition: top 0.2s;
    z-index: 5;
}

#top-bar > h1:first-child {
    font-size: 3rem;
    text-align: center;
}

#bar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    width: min-content;
}

#side-buttons {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

/*
Card groups
-----------
*/
.card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 1rem;
    min-width: 0;
}

.card-group > :not(.line) {
    color: grey;
}

.card-group .event-card {
    text-align: center;
    color: var(--white);
    width: 40ch;
    line-height: 150%;
    color: gainsboro;
}

.card-group .line:not(:last-child) {
    height: 5rem;
    border-left: 1px solid var(--primary);
}

.card-group .event-card > :first-child {
    font-size: 1.75rem;
    color: gainsboro;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.card-group .event-card[open] > :first-child,
.card-group .event-card > :first-child:hover {
    color: var(--secondary);
}

/*
Quote
-----
*/

.quote-bar {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.quote-bar > * {
    align-self: var(--alignment);
}

.quote {
    border-left: 1px solid var(--white);
    max-width: 40ch;
    padding: 10px;
    position: relative;
    top: var(--top);
    transition: opacity 0.6s, transform .3s ease-out;
    opacity: 0.6;
}

.quote:hover {
    opacity: 1.0 !important;
    transform: translate(0, -3px);
}
